:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
}

.App {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mazeView {
  width: 50vw;
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  place-content: center;
  font-size: 1.5rem;
}

.cell {
  position: relative;
  display: grid;
  place-content: center;
  background: skyblue;
  margin: 0.1rem;
  font-size: 0.9rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.cell .cellText {
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
  transition: scale 0.4s ease-in-out;
}

.cell:hover .cellText {
  opacity: 0.9;
  scale: 1.2;
}

.wall {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}

.wall.W,
.wall.E {
  top: 0;
  width: 10%;
  height: 100%;
}

.wall.N,
.wall.S {
  left: 0;
  width: 100%;
  height: 10%;
}

.wall.N {
  top: 0;
}

.wall.S {
  bottom: 0;
}

.wall.W {
  left: 0;
}

.wall.E {
  right: 0;
}